+b.FOOTER.footer 
    .container 
        +e.top 
            +e.top-col
                ul.footer-col-links 
                    li 
                        +b.H3.footer-title Account
                    li 
                        a(href="#") Knowledge base
                    li 
                        a(href="#") Legal Inquiries
                    li 
                        a(href="#") Status
                    li 
                        a(href="#") Videos
                    li 
                        a(href="#") Blog 
            +e.top-col
                ul.footer-col-links 
                    li 
                        +b.H3.footer-title Add banner 
                    li 
                        a(href="#") Knowledge base
                    li 
                        a(href="#") Legal Inquiries
                    li 
                        a(href="#") Status
                    li 
                        a(href="#") Videos
                    li 
                        a(href="#") Blog 
            +e.top-col
                ul.footer-col-links 
                    li 
                        +b.H3.footer-title Exchanges 
                    li 
                        a(href="#") Knowledge base
                    li 
                        a(href="#") Legal Inquiries
                    li 
                        a(href="#") Status
                    li 
                        a(href="#") Videos
                    li 
                        a(href="#") Blog 
            +e.top-col
                ul.footer-col-links 
                    li 
                        +b.H3.footer-title Curencies
                    li 
                        a(href="#") Knowledge base
                    li 
                        a(href="#") Legal Inquiries
                    li 
                        a(href="#") Status
                    li 
                        a(href="#") Videos
                    li 
                        a(href="#") Blog 
            +e.top-col
                ul.footer-col-links 
                    li 
                        +b.H3.footer-title History
                    li 
                        a(href="#") Knowledge base
                    li 
                        a(href="#") Legal Inquiries
                    li 
                        a(href="#") Status
                    li 
                        a(href="#") Videos
                    li 
                        a(href="#") Blog 
            +e.top-col
                include partials/_social
                
                +e.UL.links 
                    +e.LI
                        +e.A(href="terms.html") Privacy Policy
                    +e.LI
                        +e.A(href="terms.html") Terms of Service

        +e.bottom 
            +e.bottom-top
                +e.A(href="index.html" class="logo")
                    img(src="assets/images/logo/logo-white.svg", alt="")

                +e.P.copyright Copyright © <span class="js-current-year"></span> CounReview Expert, Inc.<br> Exodus was co-founded by Daniel Castagnoli and JP Richardson.

                

            +b.typography 
                p Exodus is a software platform ONLY and does not conduct any independent diligence on or substantive review of any blockchain asset, digital currency, cryptocurrency or associated funds. You are fully and solely responsible for evaluating your investments, for determining whether you will exchange blockchain assets based on your own, and for all your decisions as to whether to exchange blockchain assets with Exodus. In many cases, blockchain assets you exchange on the basis of your research may not increase in value, and may decrease in value. Similarly, blockchain assets you exchange on the basis of your research may increase in value after your exchange. Past performance is not indicative of future results. Any investment in blockchain assets involves the risk of loss of part or all of your investment. The value of the blockchain assets you exchange is subject to market and other investment risks.
