+b.HEADER.header
  .container
    +e.row

      +b.mobile-nav-button
        include partials/_hamburger


      +e.A(href="index.html" class="logo")
        img(src="assets/images/logo/logo.svg", alt="Asterium")
        
      include partials/_counters
      
      +e.right

        +b.search-block
          +e.A(href="#" class="button")
                +icon('search') 
          form
            +e.field
              button
                +icon('search') 
              input(type="text" name="search")
              +e.A().close
                +icon('cross') 
        +b.A.button(href="register.html" class="_primary") Add a currency

        include partials/_lang