.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: $heading-font-weight;
    line-height: 1.2;
    font-family: $main-font;
    font-weight: 700;
}

.h1 {
    font-size: 200%;
    font-weight: 700;
}

.h2 {
    font-size: 180%;
}

.h3 {
    font-size: 160%;
}

.h4 {
    font-size: 140%;
}

.h5 {
    font-size: 130%;
}

// titles
.title {
    font-size: rem(31px);
    line-height: 1.4;
    font-weight: 900;

    @include notebook-block() {
        font-size: rem(55px);
    }
    @include sm-block() {
        font-size: rem(42px);
    }
    @include xs-block() {
        font-size: rem(35px);
    }
}

.subtitle {
    font-size: rem(16px);
    font-weight: 500;
}

//-
