$checkbox-size: 20px;
$checkbox-border-radius: 4px;
.radio,
.checkbox {
  cursor: pointer;
  display: block;
  font-weight: 500;
  position: relative;
  line-height: 1.25;
  font-size: 14px;
  span {
    display: block;
    padding-left: 38px;
    &:before {
      content: "";
      width: $checkbox-size;
      height: $checkbox-size;
      border: solid 1px #cad6f0;
      background: #eaf1ff;
      display: inline-flex;
      vertical-align: top;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
      border-radius: 6px;
      flex-shrink: 0;
      color: #fff;
      margin-top: -3px;
      position: absolute;
      top: 0;
      left: 0;
    }
    &:hover {
      &:before {
        border-color: #cdcffd;
      }
    }
  }
  input {
    display: none;
    &:checked + span {
      &:before {
        background: svg-load("../icons/check-bold.svg", fill=#fff);
        background-size: 70%;
        background-position: center;
        background-repeat: no-repeat;
        border-color: $primary-color;
        background-color: $primary-color;
      }
    }
  }
  &.error {
    span {
      color: $accent-color;
      &:before {
        border-color: $accent-color;
      }
    }
  }
  &.disabled {
    span {
      cursor: not-allowed;
      color: $gray-color;
      &:before {
        border-color: $gray-color;
      }
    }
  }
}

.radio {
  span {
    &:before {
      border-radius: 50%;
    }
  }
  input {
    &:checked + span {
      &:after {
        content: "";
        width: 12px;
        height: 12px;
        display: block;
        background: $primary-color;
        border-radius: 50%;
        position: absolute;
        top: 2px;
        left: 5px;
      }
      &:before {
        content: "";
        background: #fff;
        border-color: $primary-color;
      }
    }
  }
}
