// Field
$textarea-height: 210px;
$field-font-size: 16px;
$field-border-radius: 0;

@mixin inputBase() {
    border: solid 1px #cad6f0;
    height: $field-height;
    width: 100%;
    font-size: $field-font-size;
    border-radius: $field-border-radius;
    font-family: $main-font;
    background: #eaf1ff;
    //font-weight: 600;
    color: #000;
    border-radius: 4px;
    text-overflow: ellipsis;
    font-weight: 500;
    padding-left: 20px;
    font-size: 16px;

    &::placeholder {
        color: rgba(#253390, 0.5);
        font-weight: 600;
    }
    &:hover,
    &:focus {
        border-color: darken(#e8e8e8, 10%);
    }
    &[disabled] {
        background: #f4f8ff;
        border-color: #e4eaf7;
        color: rgba(#000, 0.5);
    }
}
@keyframes errorInput {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-6px);
    }

    100% {
        transform: translateX(6px);
    }
}
.field {
    $parent: &;

    & > label:not(.select):not(.button):not(.checkbox) {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-family: $accent-font;
        line-height: 1.45;
        margin-bottom: rem(10px);
        font-weight: 700;
        white-space: nowrap;
        i {
            font-style: italic;
            font-weight: 400;
        }
    }
    &.disabled {
        input {
            opacity: 0.5;
            pointer-events: none;
        }
    }
    .answer {
        margin-left: auto;
    }

    .field-after {
        padding: 0 15px;
        font-size: 14px;
        color: #afc3ef;
        z-index: 2;
        display: flex;
        align-items: center;
    }

    input,
    textarea {
        @include inputBase();
    }

    & > textarea {
        min-height: $textarea-height;
        padding-top: 10px;
    }
    &__error-message {
        margin-top: 5px;
        color: $accent-color;
    }
    &__warning-message {
        margin-top: 5px;
        font-size: 14px;
        color: $accent-color;
    }
    &__wrapper {
        position: relative;
        margin-bottom: 5px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__wrap:not(.price-module),
    &__wrap:not(.amount-module) {
        position: relative;
        margin-bottom: 5px;
        display: flex;
        @include inputBase();
        input,
        textarea {
            background: transparent;
            border: none;
            padding-left: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__description {
        margin-top: 5px;
        font-size: 12px;
    }
    &_error {
        label {
            color: $danger-color;
        }
        input,
        textarea {
            border-color: $danger-color !important;
            will-change: transform;
            background: #ffe8e8;
            animation: errorInput 0.2s cubic-bezier(0.6, 0.2, 0.1, 1);
        }
    }
    &_disabled {
        label {
            color: $gray-color;
        }
        #{$parent}__input,
        #{$parent}__textarea,
        #{$parent}__select {
            border-color: $gray-color;
            color: $gray-color;
            cursor: not-allowed;
        }
    }
    &_row {
        display: flex;
        align-items: center;
        #{$parent}__label {
            width: 150px;
            flex-shrink: 0;
            margin-bottom: 0;
            padding-right: 15px;
            @include sm-block() {
                width: 100%;
                padding-right: 0;
                margin-bottom: 10px;
            }
        }
        @include sm-block() {
            flex-wrap: wrap;
        }
    }
    &_white {
        input,
        textarea {
            background: #fff;
        }
    }
    &_small {
        #{$parent}__label {
            font-size: 16px;
        }
        input,
        textarea {
            height: 40px;
        }
    }

    &_date {
        #{$parent}__wrapper {
            position: relative;
            input {
                padding-right: 35px;
            }
            &:after {
                content: "";
                background: svg-load("../icons/datepicker.svg", fill=#253390);
                background-size: contain;
                background-repeat: no-repeat;
                width: 14px;
                height: 14px;
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
                pointer-events: none;
            }
        }
    }
}

.js-slider-field {
    position: relative;
    .field__wrap {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .ui-slider {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin-top: -1px;
    }
}

.fields-group {
    display: flex;
    width: 100%;
    .field {
        flex-grow: 1;
        &:first-child {
            input,
            select {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
        &:last-child {
            margin-left: -1px;
            input,
            select {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
    &_symbol {
        .field {
            &:last-child {
                width: 70px;
                input {
                    padding-left: 0px;
                    text-align: center;
                }
            }
        }
    }
}

.select {
    position: relative;
    display: block;
    font-weight: 600;

    &:after {
        content: "";
        width: 12px;
        height: 7px;
        display: block;
        background-image: svg-load("../icons/arrow.svg", fill=#253390);
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
    }
    select {
        @include inputBase();
        background: #eaf1ff;
        font-size: 16px;
        font-weight: 600;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: ellipsis;
        padding-right: 30px;
        cursor: pointer;

        @include sm-block() {
            font-size: 16px;
        }
        &:-ms-expand {
            display: none;
        }
        option {
            font-size: 16px;
            font-weight: 400;
        }
    }
    &_small {
        select {
            font-size: 12px;
            width: 60px;
            height: 25px;
            padding: 0 20px 0 10px;
            option {
                font-size: 12px;
            }
        }
    }
}
//-
