
.modal-window {
  display: none;
  border-radius: 25px;
  background: transparent;
  background: #fdfdfc;
  //border: 2px solid #ebebeb;
  box-shadow: 0 5px 0px #d8e5ff, 0 15px 50px #231c160e;
  color:#000;
  margin: auto;
  .typography{
      color:#000;
  }

  &_size-sm {
      width: 500px;
      max-width: 100%;
  }

  &_size-md {
      width: 600px;
      max-width: 100%;
  }

  &_size-lg {
      width: 1390px;
      max-width: 100%;
      @include to(1390px){
          width: 100%;
      }
  }
  @include sm-block() {
     border:none;
     border-radius: 0;
     max-width: 100%;
     width: 100%;
  }


  .field{
      /* Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
      }
  
      /* Firefox */
      input[type=number] {
      -moz-appearance: textfield;
      }

      &>label:not(.select):not(.button):not(.checkbox){
        font-size: 14px;
        opacity: 0.6;
        font-weight: 400;
      }
    input, .select select{
      height: 45px;
      background: #fff;
      border-color:#e1e1e1;
    }
  }
}


.modal-title{
  text-align: center;
  font-size: rem(22px);
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 30px;
  color: #000;   
  border-bottom: 1px solid #f3f6fd;
  padding-bottom: 30px;
  &_normal{
    font-weight: 400;
  }
  &:first-child{
    padding-top: 30px;
  }
  @include sm-block() {
      font-size: 18px;
     }
}

.modal-padding{
padding-left: 40px;
padding-right: 40px;
  @include sm-block() {
      padding-left: 20px;padding-right: 20px;
  }
}


.modal-buttons{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px; margin-bottom: 30px;
  .button{
    border-radius: 20px;
    font-size: 17px;
}
}

//

.tolerance{
    margin-bottom: 30px;
  &__row{
      display: flex;
      align-items: center;
      margin-left: -10px;
      margin-right: -10px;
      @include sm-block() {
        flex-wrap: wrap;
      }
      &>*{
        margin: 0 10px;
      }

      input{
        @include sm-block() {
         width: calc(100% - 55px) !important;
         margin-top: 15px;
        }
      }
  }
  
  &__after{
      color: $primary-color;
      font-size: 17px;
      @include sm-block() {
        margin-top: 15px;
       }
  }

 .field{
  input{
    font-size: 17px;  
     background: #eff5f5;
     border-color: #eff5f5;
     height: 45px;
  }
 }
  .radio-label{
    span{
      font-size: 17px;
      width: 65px;height: 45px;
      background: #eff5f5;
    }
  }
  
}

.deadline-fields{
  @include row-flex();
  align-items: flex-end;
  &>*{
    @include col();
    @include size(6)
  }
}



//
.fancybox__content>.carousel__button.is-close {
  right: -10px;
  color:$primary-color !important;
  @include lg-block() {
      right: 10px;
      top: 10px;
  }
}


.fancybox__slide{
  @include to(1390px){
  padding: 35px 15px;
  } 
  @include lg-block() {
      padding: 0 !important;
  }
}

.fancybox__slide:after, .fancybox__slide:before{
  @include lg-block() {
   display: none;
  } 
}
.fancybox__slide{
  overflow-x: hidden !important;
}

.fancybox__backdrop {
  background: rgba(#f3f6fd, 0.9);
}

.fancybox__slide {
  @include sm-block() {
      padding: 15px;
  }
}

.fancybox__content>.carousel__button.is-close {
  color: #000;
}

.fancybox__nav .carousel__button {
  background: $primary-color;
}

.fancybox__content {
  padding: 0;
}
.carousel__button svg {
  filter: none;    
  width: 28px;
  height: 28px;
}


////////////////////////////////

.swap-info{
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
    border-bottom: 1px solid #f3f6fd;
padding-bottom: 30px;
  margin-bottom: 30px;
  &__col{
      flex-grow:1;
      flex-basis: 0;
  }
  &__separator{
      width: 52px;
      height: 52px;
      background-image: linear-gradient(
0deg,#467aea,#75a1ff);
      box-shadow: 0 3px 24px 0 rgba(70 ,122, 234, 0.47%);
      border-radius: 50%;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      justify-content: center;
      margin: 0 15px;
      @include sm-block() {
        width: 35px;
        height:35px;
      }
      svg{
          width: 40%;
          height: 40%;
          fill:#fff;
      }
  }
  &__icon{
      margin-right: 10px;
      width: 23px;
      height: 23px; 
      border-radius: 50%;
      overflow: hidden;
  }
  &__value{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 26px;
      font-weight: 400;
      line-height: 1;
      color: rgba(#000,0.6);
      margin-bottom: 10px;
      @include sm-block() {
        font-size: 14px;margin-bottom: 5px;
      }
      span{
          max-width: 126px;
          display: block;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;  
          @include sm-block() {
            max-width:70px;
          }
      }
  }
  
  &__currency{
      font-weight: 500;     
      font-size: 20px;  @include sm-block() {
        font-size: 14px;
      }
  }
  
  
}

.swap-confirm{
  &__text{
      text-align: center;
      opacity: 0.6;
      margin-bottom: 30px;
  }
}


.modal-info{
  border: solid 1px #ddd;
  padding: 15px 25px;
  border-radius: 15px;
  font-size: 13px; 
  @include sm-block() {
    padding: 15px 15px;
  }
  &__name{
      opacity: 0.6;
      padding-right: 15px;
      line-height: 1.2;
      @include sm-block() {
        max-width: 50%;
      }
  }
  &__value{
      font-weight: 600;text-align: right;
  }
  li{
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
      &:last-child{
          margin-bottom: 0
      }
  }
}


////////////////////////////////