extends ../layout/main

block variables
  - var title = 'Add a currency';
  - var description = '';
  - var pageName = 'currency';


block content
  +b.ARTICLE

    +b.SECTION
      .container
        +b.breadcrumbs 
          a(href="#") Coins 
          span / 
          span Add a currency

    +b.SECTION
      .container
        +b.H1.title(class="_strong") Add a currency

        +b.add-currency(class="_banner").block
          +e.row
            +e.col
              +b.typography
                h2 Submit new coin<br> to <span class="color-primary">CoinReview</span>
                p Please fill out this form carefully to add a new coin to CoinReview. After submission, your coin will be visible on the New Listings page. Get 500 votes to be officially listed on CoinReview. Please fill out this form carefully to add a new coin to CoinReview. After submission, your coin will be visible on the New Listings page. 
              +b.A(href="register-admin.html" class="button _primary button-register") You should register as admin at first
            +e.col
              +e.media
                img(src="assets/images/add-currency.png", alt="")


block script
  script(src="assets/js/vendors.js" defer)
  script(src="assets/js/app.js" defer)