extends ../layout/main

block variables
  - var title = 'Главная';
  - var description = '';
  - var pageName = 'banners';


block content
  +b.ARTICLE
    
    +b.SECTION
        .container
            +b.breadcrumbs 
                a(href="#") Coins 
                span / 
                span Add banner

    +b.SECTION
      .container
        +b.H3.title(class="_strong") Add banner 
        
        +b.UL.add-banner-list 
            +e.LI
                p profit-hunters.biz <span>до Aug 10, 2021 23:56</span>
            +e.LI
                p investors.bar <span>до Aug 21, 2021 13:24</span>
            +e.LI
                p albet.io <span>до Sep 1, 2021 10:12</span>
            +e.LI
                p kinginvestclub.com <span>до Aug 4, 2021 22:32</span>
            +e.LI
                p exfunds.com <span>до Aug 17, 2021 08:15</span>
            +e.LI
                p uptrend-value.com <span>до Aug 4, 2021 03:51</span>
            +e.LI
                p betfury.io <span>до Aug 4, 2021 13:04</span>
            +e.LI
                p invest-card.com <span>до Aug 7, 2021 02:11</span>
            +e.LI
                p hyip-check.ru <span>до Aug 7, 2021 11:16</span>
            +e.LI
                p cloner.cc <span>до Aug 22, 2021 23:22</span>
            +e.LI
                p jaemoney.ltd <span>до Aug 9, 2021 19:41</span>
    +b.SECTION
        .container
            +b.UL.select-banner-list
                +e.LI(class="__full")
                    +b.LABEL.selected-banner(class="_disabled")
                        input(type="radio" name="banner" value="1" disabled)
                        +e.SPAN.block 
                            +e.title Rotation banner <span>1370х115</span>
                            +e.bottom
                                +e.button $159/week
                                +e.description Paid till 22/02/2022
                +e.LI(class="__full")
                    +b.LABEL.selected-banner 
                        input(type="radio" name="banner" value="2")
                        +e.SPAN.block 
                            +e.title Buy this rotation banner  <span>1370х115</span>
                            +e.bottom
                                +e.button $159/week
                                +e.description Availiable 2/7
                +e.LI
                    +b.LABEL.selected-banner(class="_disabled")
                        input(type="radio" name="banner" value="3" class="_disabled")
                        +e.SPAN.block 
                            +e.title Rotation banner <span>440х115</span>
                            +e.bottom
                                +e.button $159/week
                                +e.description Paid till 22/02/2022
                +e.LI
                    +b.LABEL.selected-banner 
                        input(type="radio" name="banner" value="4")
                        +e.SPAN.block 
                            +e.title Buy this rotation banner <span>1370х115</span>
                            +e.bottom
                                +e.button $159/week
                                +e.description Availiable 2/7
                +e.LI
                    +b.LABEL.selected-banner 
                        input(type="radio" name="banner" value="5")
                        +e.SPAN.block 
                            +e.title Buy this rotation banner <span>1370х115</span>
                            +e.bottom
                                +e.button $159/week
                                +e.description Availiable 2/7
                +e.LI
                    +b.LABEL.selected-banner 
                        input(type="radio" name="banner" value="6")
                        +e.SPAN.block 
                            +e.title Buy this rotation banner <span>1370х115</span>
                            +e.bottom
                                +e.button $159/week
                                +e.description Availiable 2/7
                +e.LI
                    +b.LABEL.selected-banner 
                        input(type="radio" name="banner" value="7")
                        +e.SPAN.block 
                            +e.title Buy this rotation banner <span>1370х115</span>
                            +e.bottom
                                +e.button $159/week
                                +e.description Availiable 2/7
    +b.SECTION
      .container
        +b.H3.title(class="_strong") Add banner 

        +b.block 
            +b.typography
                p We only accept PerfectMoney. Maximum file size maust not exceed 3.5MB. Banners with your referral link are allowed. No non-paying or phishing site banners will be displayed. Send all ad questions to advertising@hyiplogs.com.
            form
                +b.field 
                    label You have selected:
                    input(type="text" name="selected")
                
                +b.field 
                    label Period:
                    +b.UL.radio-list 
                        +e.LI
                            +b.LABEL.radio-button
                                input(type="radio" name="period" value="1" checked)
                                span 1 week
                        +e.LI
                            +b.LABEL.radio-button
                                input(type="radio" name="period" value="2")
                                span 2 weeks (2% discount)
                        +e.LI
                            +b.LABEL.radio-button
                                input(type="radio" name="period" value="3")
                                span 3 weeks (3% discount)
                        +e.LI
                            +b.LABEL.radio-button
                                input(type="radio" name="period" value="4")
                                span 4 weeks (4% discount)
                +b.field 
                    label Number of slots: 
                    +b.UL.radio-list(class="_small-spaces")
                        +e.LI
                            +b.LABEL.radio-button(class="_transparent")
                                input(type="radio" name="slots" value="1" checked)
                                span 1
                        +e.LI
                            +b.LABEL.radio-button(class="_transparent")
                                input(type="radio" name="slots" value="2")
                                span 2
                        +e.LI
                            +b.LABEL.radio-button(class="_transparent")
                                input(type="radio" name="slots" value="3")
                                span 3
                        +e.LI
                            +b.LABEL.radio-button(class="_transparent")
                                input(type="radio" name="slots" value="4")
                                span 4
                        +e.LI
                            +b.LABEL.radio-button(class="_transparent")
                                input(type="radio" name="slots" value="5")
                                span 5
                        +e.LI
                            +b.LABEL.radio-button(class="_transparent")
                                input(type="radio" name="slots" value="6")
                                span 6
                        +e.LI
                            +b.LABEL.radio-button(class="_transparent")
                                input(type="radio" name="slots" value="7")
                                span 7
                        +e.LI
                            +b.LABEL.radio-button(class="_transparent")
                                input(type="radio" name="slots" value="8")
                                span 8
                        +e.LI
                            +b.LABEL.radio-button(class="_transparent")
                                input(type="radio" name="slots" value="9")
                                span 9
                        +e.LI
                            +b.LABEL.radio-button(class="_transparent")
                                input(type="radio" name="slots" value="10")
                                span 10
                +b.field 
                    label File 
                    +b.LABEL.file-button
                        input(type="file" name="file")
                        +e.SPAN.button Choose file
                +b.field 
                    label Promotional Link: 
                    input(type="text" name="link")
                
                +b.field 
                    label Your e-mail: 
                    input(type="text" name="email")
                +b.field 
                    label Promo Code: 
                    input(type="text" name="promocode")
                
                +b.field 
                    label Total cost: 
                    +b.P.total $ <span class="color-primary">2,305.49</span> 
                +b.BUTTON.button(class="_primary") Buy banner

block script
  script(src="assets/js/vendors.js")
  script(src="assets/js/app.js")