extends ../layout/main

block variables
    - var title = 'Etherium';
    - var description = '';
    - var pageName = 'home';


block content
    mixin tr(index,currency, color)
        tr(data-href="coin.html")
            td #{index}
            td
                if currency === 'btc'
                    +b.currency
                        +e.icon 
                            img(src="assets/images/currency/btc.svg", alt="")
                        +e.P.name Bitcoin <span>BTC</span>
                else if currency === 'eth'
                    +b.currency
                        +e.icon 
                            img(src="assets/images/currency/eth.svg", alt="")
                        +e.P.name Etherium <span>ETH</span>
                else if currency === 'dai'
                    +b.currency
                        +e.icon 
                            img(src="assets/images/currency/dai.svg", alt="")
                        +e.P.name Dai <span>DAI</span>
                else if currency === 'tether'
                    +b.currency
                        +e.icon 
                            img(src="assets/images/currency/tether.svg", alt="")
                        +e.P.name Tether <span>Tether</span>
            td.not-clickable 
                if currency === 'btc'
                    +b.heart
                else 
                    +b.heart(class="_is-active")
            td.nowrap
                p 
                    strong $34,394.55
            td.nowrap
                if currency === 'eth'
                    p.color-success
                        strong 1.36%
                else
                    p.color-danger
                        strong 0.23%
            td.nowrap
                p.color-success
                    strong 7.86%
            td.nowrap
                p $646,879,798,387
            td.nowrap
                p $20,512,439,991
                p.color-gray
                    small 595,070 BTC
            td.nowrap
                p 18,766,106 BTC
            td
                if currency === 'eth'
                    .chart(data-array="10,41,35,51,49,62,69,91,148,10,41,35,51,49", data-color=color)
                else 
                    .chart(data-array="50,62,79,91,148,41,35,51,49,62,69,91,148,10", data-color=color)
            td.not-clickable
                +b.amount-module 
                    .decrease.value-button(value='Decrease Value') -
                    input.number(type='number' value='0' name="amount")
                    .increase.value-button(value='Increase Value') +

    mixin tr2(index)
        tr(data-href="coin.html") 
            td #{index}
            td 
                if index === '2'
                    +b.currency
                        +e.icon 
                            img(src="assets/images/currency/snx.svg", alt="")
                        +e.P.name Huobi Global
                else if index === '4'
                    +b.currency
                        +e.icon 
                            img(src="assets/images/currency/cpnd.svg", alt="")
                        +e.P.name Huobi Global
                else 
                    +b.currency
                        +e.icon 
                            img(src="assets/images/currency/btc.svg", alt="")
                        +e.P.name Binance
            td 
                strong ETH/USD
            td 
                strong $2,332.00
            td $6,391,773.09
            td $646,879,798,387
            td $20,512,439,991
            td 1,23%
            td
                if index === '2'
                    +b.status-label(class="_danger") Low
                else 
                    +b.status-label(class="_success") Hight
            td 867
            td Recently

    +b.ARTICLE
        include ../includes/partials/time-labels

        +b.SECTION
            .container
                +b.breadcrumbs 
                    a(href="#") Coins 
                    span / 
                    span Etherium

        +b.SECTION.details-top
            .container
                +e.row 
                    +e.col 
                        +e.top
                            +b.currency
                                +e.icon 
                                    img(src="assets/images/currency/eth.svg", alt="")
                                +e.P.name Etherium <span>ETH</span>
                            
                            +b.favorites 

                                +e.A().button(data-text-active="In favorites" data-text-inactive="Add to favorites")
                                    span Add to favorites

                        +b.currency-price 
                            +e.P.value $ <span>2,305.49</span>
                            +b.label(class="_success") 1.2<sup>%</sup>

                        +b.currency-course 
                            p 0.05776913 BTC
                            +b.label(class="_success") 0.6%

                        +b.indicator 
                            +e.top
                                p Low: <strong>$2,258.06</strong>
                                p Hight: <strong>$2,258.06</strong>
                            +e.bar-wrapper
                                +e.bar 
                                    span(style="width:30%")
                                +b.LABEL.select(class="_small")
                                    select
                                        option(value="1") 24h

                    +e.col
                        +b.insurance
                            +e.icon 
                                img(src="assets/images/insurance.svg", alt="")
                            +e.content 
                                p <span class="color-gray">Etherium</span>
                                p <span class="color-success">audited</span> coin

                    +e.col

                        +b.vote 
                            +e.P.label Vote for <strong>ETC</strong>
                            +b.amount-module 
                                .decrease.value-button(value='Decrease Value') -
                                input.number(type='number' value='12321' name="amount")
                                .increase.value-button(value='Increase Value') +

                        +b.convertation 
                            +b.field 
                                label ETH <span>Etherium</span>
                                +e.wrap.amount-module
                                    input(type="number" value="1" data-price="1.365590712" data-step="0.01" name="eth").color-primary
                                    +e.arrows 
                                        a.increase
                                            +icon('play') 
                                        a.decrease
                                            +icon('play') 
                            +e.separator 
                                +icon('arrows')
                            +b.field 
                                label USD <span>United States Dollar</span>

                                +e.wrap.amount-module
                                    input(type="number" value="1.365590712" data-step="0.01" name="usd")
                                    +e.arrows 
                                        a.increase
                                            +icon('play') 
                                        a.decrease
                                            +icon('play')



        +b.SECTION.counters-section
            .container

                .swiper-container.swiper-no-swiping.js-swiper-counters
                    .swiper-wrapper 
                        .swiper-slide 
                            +b.counters-item
                                +e.top
                                    p Market Cap
                                    +b.label(class="_success") 1.2<sup>%</sup>
                                +e.P.value 
                                    span $ 269,117,217,260
                        .swiper-slide 
                            +b.counters-item
                                +e.top
                                    p Fully Diluted Market Cap
                                    +b.label(class="_danger") 0.3<sup>%</sup>
                                +e.P.value 
                                    span $ 269,117,217,260
                        .swiper-slide 
                            +b.counters-item
                                +e.top
                                    p 24 Hour Trading Vol 
                                    +b.label(class="_danger") 0.3<sup>%</sup>
                                +e.P.value
                                    span $ 15,767,547,708
                        .swiper-slide 
                            +b.counters-item
                                +e.top
                                    p Total Supply
                                +e.P.value
                                    span 116,887,989.62 ETH


        +b.SECTION
            .container
                mixin tab(index)
                    if index === 1
                        div.js-tab-content

                            +b.details
                                +e.row
                                    +e.content
                                        .tabs__content
                                            .table-wrapper__block-row
                                                +b.H1.title Ethereum (ETH) Price Chart 
                                                +time-labels('price-time-filter')

                                            .chart-candlestick
                                            .chart-bar

                                            +b.details-text
                                                +b.H3.title What Is Ethereum (ETH)?
                                                +b.typography
                                                    p Ethereum is a decentralized open-source blockchain system that features its own cryptocurrency, Ether. ETH works as a platform for numerous other cryptocurrencies, as well as for the execution of decentralized smart contracts.
                                                    p Ethereum was first described in a 2013 whitepaper by Vitalik Buterin. Buterin, along with other co-founders, secured funding for the project in an online public crowd sale in the summer of 2014 and officially launched the blockchain on July 30, 2015
                                                    p Ethereum is a decentralized open-source blockchain system that features its own cryptocurrency, Ether. ETH works as a platform for numerous other cryptocurrencies, as well as for the execution of decentralized smart contracts.
                                                    p Ethereum was first described in a 2013 whitepaper by Vitalik Buterin. Buterin, along with other co-founders, secured funding for the project in an online public crowd sale in the summer of 2014 and officially launched the blockchain on July 30, 2015
                                                +e.bottom
                                                    +b.A(class="button _primary _small js-show-more") Read more
                                    +e.sidebar
                                        +b.sidebar-block.statistics-block
                                            
                                            +e.section
                                                //-+e.H4.title ETH Price Statistics
                                                +b.UL.statistics-list 
                                                    +e.LI 
                                                        p Contract: 
                                                        +b.contact-module.js-copy
                                                            +e.content
                                                                +e.icon
                                                                    img(src="assets/images/currency/eth.svg", alt="")
                                                                +e.P.value <strong>Ethereum</strong> <span class="contract-token">0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48</span>
                                                                
                                                                +e.copy-button.js-copy-button
                                                                    +icon('copy')
                                                            input(type="text" value="0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48").js-copy-input

                                                    +e.LI 
                                                        p Ethereum Price	
                                                        +e.row
                                                            strong $2,324.09
                                                    +e.LI 
                                                        p Price Change 24h
                                                        +e.row
                                                            strong $24.83 
                                                            +b.label(class="_danger") 0.3<sup>%</sup>
                                                    +e.LI 
                                                        p 24h Low / 24h High	
                                                        +e.row
                                                            strong $2,258.06 / $2,331.49
                                                    +e.LI 
                                                        p Trading Volumen 24h
                                                        +e.row
                                                            strong $16,039,566,976.08  
                                                            +b.label(class="_success") 1.2<sup>%</sup>
                                                    +e.LI 
                                                        p Volume / Market Cap	
                                                        +e.row
                                                            strong 0.05899
                                                    +e.LI 
                                                        p Market Dominance	
                                                        +e.row
                                                            strong 17,46%
                                                    +e.LI 
                                                        p Market Rank	
                                                        +e.row
                                                            strong #2
                                                    +e.LI 
                                                        p Market Cap	
                                                        +e.row
                                                            strong $271,916,193,634.42
                                                            +b.label(class="_success") 1.2<sup>%</sup>
                                                    +e.LI 
                                                        p Fully Diluted Market Cap
                                                        +e.row
                                                            strong $271,916,193,634.42 
                                                            +b.label(class="_success") 1.2<sup>%</sup>
                                            +e.section
                                                +b.UL.social-list 
                                                    +e.LI 
                                                        p Website 
                                                            a(href="#") 
                                                                span Website 
                                                                +icon('world')
                                                    +e.LI 
                                                        p Twitter 
                                                            a(href="#") 
                                                                span Website 
                                                                +icon('twitter')
                                                    +e.LI 
                                                        p Telegram 
                                                            a(href="#") 
                                                                span Website 
                                                                +icon('telegram')
                                                    +e.LI 
                                                        p Discord 
                                                            a(href="#") 
                                                                span Website 
                                                                +icon('discord')
                    if index === 2 
                        div.js-tab-content
                            +b.table-wrapper.hidden-filters
                                +e.block(class="_border")
                                    +e.block-content
                                        +b.H3.title Promoted
                                    +e.table
                                        table.table-hover.js-datatables
                                            thead 
                                                tr 
                                                    th # 
                                                    th Name
                                                    th
                                                    th Price
                                                    th 24h %
                                                    th 7d %
                                                    th Market Cap
                                                    th Volume(24h)
                                                    th Circulating Supply
                                                    th Last 7 Days
                                                    th Votes
                                            tbody 
                                                +tr('1','btc','#03b15d')
                                                +tr('2','eth','#03b15d')
                                                +tr('3','dai','#d22f49')
                                                +tr('4','tether','#03b15d')
                                                +tr('5','btc','#d22f49')
                                
                    if index === 3
                        div.js-tab-content
                            +b.table-wrapper.hidden-filters
                                +e.block
                                    +e.block-content
                                        +b.H3.title Ethereum Markets

                                    +e.table
                                        table.table-hover.js-datatables 
                                            thead 
                                                tr 
                                                    th #
                                                    th Name
                                                    th Pairs
                                                    th Price
                                                    th +2% Depth 
                                                    th -2% Depth
                                                    th Volume
                                                    th Volume %
                                                    th Confidence
                                                    th Liquidity
                                                    th Liquidity scores
                                            tbody 
                                                
                                                +tr2('1')
                                                +tr2('2')
                                                +tr2('3')
                                                +tr2('4')
                                                +tr2('5')
                                                +tr2('6')

                    if index === 4
                        div.js-tab-content
                            +b.table-wrapper
                                +e.block
                                    +e.block-content
                                        +b.H3.title Ethereum to USD Chart
                                        +b.text-and-labels
                                            +b.typography
                                                p ETH to USD rate for today is $2,325.42. It has a current circulating supply of 117 Million coins and a total volume exchanged of $18,499,006,317.
                                            +time-labels('time-filter')

                                        +b.chart-module
                                            +e.chart

                                        +e.table
                                            .table-bordered
                                                table
                                                    thead 
                                                        tr 
                                                            th 1h
                                                            th 24h
                                                            th 7d
                                                            th 14d
                                                            th 30d
                                                            th 1y
                                                    tbody 
                                                        tr 
                                                            td 
                                                                p.color-success 
                                                                    strong 0.3%
                                                            td 
                                                                p.color-success 
                                                                    strong 1.8%
                                                            td 
                                                                p.color-success 
                                                                    strong 16.1%
                                                            td 
                                                                p.color-success 
                                                                    strong 16.4%
                                                            td 
                                                                p.color-success 
                                                                    strong 11.4%
                                                            td 
                                                                p.color-success 
                                                                    strong 635.2%
                    
                    if index === 5
                        div.js-tab-content
                            +b.table-wrapper.hidden-filters
                                +e.block
                                    +e.block-content
                                        +e.block-row
                                            +b.H3.title Ethereum USD (Historical Data)

                                            +time-labels('time')

                                    +e.table
                                        table.js-datatables 
                                            thead 
                                                tr 
                                                    th Date
                                                    th Market Cap
                                                    th Volume
                                                    th Open
                                                    th Close
                                            tbody 
                                                mixin tr-history()
                                                    tr 
                                                        td.nowrap 2021-07-29
                                                        td 
                                                            p
                                                                strong $268,838,784,856
                                                        td 
                                                            p
                                                                strong $23,171,592,870
                                                        td $2,299.69
                                                        td $2,299.69
                                                +tr-history()
                                                +tr-history()
                                                +tr-history()
                                                +tr-history()
                                                +tr-history()
                                                +tr-history()
                                                +tr-history()
                                                +tr-history()
                                                +tr-history()
                                                +tr-history()
                                                +tr-history()
                                                +tr-history()
                    if index === 6
                        div.js-tab-content
                            mixin news-block()
                                +b.A(href="review-details.html" class="news-block")
                                    +e.content
                                        +e.P.title Crypto Analyst Says Ethereum Following Cardano, Maps Potential Reversal Against Bitcoin
                                        +e.P.date about 19 hours ago
                                        +e.description
                                            p A top trader is mapping out Ethereum’s path ahead, predicting that the asset will follow in Cardano’s footsteps. In a series of tweets, pseudonymous crypto trader Capo notes that Cardano (ADA) recently retraced against Bitcoin (BTC), indicating that a similar move could be in store for Ethereum
                                        +e.link Read more
                                    +e.image
                                        img(src="assets/images/news/lg.png", alt="")
                            +news-block()
                            +news-block()
                            +news-block()
                            .news-section__bottom
                                +b.A(href="reviews.html" class="button _primary") Show all news
                    if index === 7
                        div.js-tab-content
                            +b.presaled-block 
                                +b.presaled-item
                                    +e.icon 
                                        +icon('calendar')
                                    +e.content
                                        +e.P.label Finish date
                                        +e.P.value 22.02.2022
                                +b.presaled-item
                                    +e.icon 
                                        +icon('002-click')
                                    +e.content
                                        +e.P.label Whitelist link
                                        +e.A(href="https://support.binance.co.ug/hc/en-us/articles/360018274671" target="_blank").value https://support.binance.co.ug/hc/en-us/articles/360018274671

                    if index === 8
                        div.js-tab-content
                            +b.presaled-block 
                                +b.presaled-item
                                    +e.icon 
                                        +icon('calendar')
                                    +e.content
                                        +e.P.label Start date
                                        +e.P.value 22.02.2022
                                +b.presaled-item
                                    +e.icon 
                                        +icon('002-click')
                                    +e.content
                                        +e.P.label Presale link
                                        +e.A(href="https://support.binance.co.ug/hc/en-us/articles/360018274671" target="_blank").value https://support.binance.co.ug/hc/en-us/articles/360018274671
                +b.tabs.js-tabs
                    +e.UL.nav 
                        +e.LI(class=" js-tab-link")
                            +e.A() 
                                span Overview
                        +e.LI(class=" js-tab-link")
                            +e.A() 
                                span Whitelist
                        +e.LI(class=" js-tab-link")
                            +e.A() 
                                span Presaled
                        +e.LI(class=" js-tab-link is-promo")
                            +e.A() 
                                span Promoted
                        +e.LI(class=" js-tab-link")
                            +e.A() 
                                span Markets
                        +e.LI(class=" js-tab-link")
                            +e.A() 
                                span Chart
                        +e.LI(class=" js-tab-link")
                            +e.A() 
                                span Historical Data
                        +e.LI(class=" js-tab-link")
                            +e.A() 
                                span News

                    +tab(1)
                    +tab(7)
                    +tab(8)
                    +tab(2)
                    +tab(3)
                    +tab(4)
                    +tab(5)
                    +tab(6)



block script
    script(src="assets/js/vendors.js" defer)
    script(src="assets/js/app.js" defer)
    script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/apexcharts")
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    
    script(type="text/javascript").
        
        // Charts for table
        var Charts = {
            drawTableCharts: function() {
            document.querySelectorAll('.chart').forEach(function(el){
         
                                var options = {
                                series: [{
                                    name: "Desktops",
                                    data: el.dataset.array.split(',')
                                }],
                                chart: {
                                    height:90,
                                    animations:{
                                        enabled: false,
                                    },
                                    type: 'line',
                                    toolbar:{
                                        show: false
                                    },
                                    zoom: {
                                        enabled: false
                                    }
                                },
                                stroke: {
                                    show: true,
                                    curve: 'straight',
                                    colors: [el.dataset.color],
                                    width: 2,  
                                },
                                grid:{
                                    show: false,
                                    xaxis: {
                                        lines: {
                                            show: false
                                        }
                                    },   
                                    yaxis: {
                                        lines: {
                                            show: false
                                        }
                                    }, 
                                    padding: {
                                        top: 0,
                                        right: 0,
                                        bottom: 0,
                                        left: 0
                                    },  
                                },

                                legend: {
                                    show: false,
                                },
                                dataLabels: {
                                    enabled: false
                                },
                                yaxis: {
                                    show: false,
                                },
                                tooltip: {
                                    enabled: false
                                },
                                xaxis: {  
                                    axisBorder:{
                                        show: false
                                    },
                                        axisTicks:{
                                            show: false
                                    },
                                    labels:{
                                        show: false
                                    }
                                },


                                };

                                var chart = new ApexCharts(el, options);
                                chart.render();
                            })
            },
        }

        $(document).ready( function () {
            
            // Datatables
            var table = $('.js-datatables').DataTable({
                "searching": false
            });

            // Styles table
            $('.js-datatables').each( function(){
                var $wrapper = $(this).parents('.table-wrapper');
                // filter
                var $filter = $wrapper.find('.table-wrapper__filter');
                $filter.append($wrapper.find('.dataTables_length'))
                $filter.append($wrapper.find('.dataTables_filter'))

                // pagination
                $wrapper.append('<div class="table-wrapper__footer"></div>')
                var $footer = $wrapper.find('.table-wrapper__footer');
                $footer.append($wrapper.find('.dataTables_info'))
                $footer.append($wrapper.find('.dataTables_paginate'))
            })

            table.on( 'draw.dt', function () {
                Charts.drawTableCharts()
            });
           
            

            // Chart 
            var options = {
                series: [{
                name: 'Ethereum to USD',
                data: [10, 41, 35, 51, 49, 62, 69, 70, 40,10, 41, 35, 51, 49, 62, 69, 91, 70,10, 41, 35, 51, 49, 62, 69, 91, 148]
            }],
                chart: {
                type: 'area',
                stacked: false,
                height: 280,
                toolbar:{
                    show: false
                    },
                    zoom: {
                    enabled: false
                    }
            },
            dataLabels: {
                enabled: false
            },
            markers: {
                size: 0,
            },
            yaxis: {
                show: false,
                    },
                    xaxis: {  
                        axisBorder:{
                            show: false
                },
                    axisTicks:{
                        show: false
                },
                labels:{
                    show: false
                }
                    },
            fill: {
                type: 'gradient',
                gradient: {
                    shadeIntensity: 1,
                    inverseColors: false,
                    opacityFrom: 0.5,
                    opacityTo: 0,
                    stops: [0, 90, 100]
                },
            },
            responsive: [{
                breakpoint: 768,
                options: {
                    chart:{
                        height: 250
                    }
                },
                }],

            };

            var chart = new ApexCharts(document.querySelector(".chart-module__chart"), options);
            chart.render();


            // Chart candle
            let seriesData = [{
                x: new Date('10 Jan 2021'),
                y: [6629.81, 6650.5, 6623.04, 6633.33]
                },
                {
                x: new Date('11 Jan 2021'),
                y: [6632.01, 6643.59, 6620, 6630.11]
                },
                {
                x: new Date('12 Jan 2021'),
                y: [6630.71, 6648.95, 6623.34, 6635.65]
                },
                {
                x: new Date('13 Jan 2021'),
                y: [6635.65, 6651, 6629.67, 6638.24]
                },
                {
                x: new Date('14 Jan 2021'),
                y: [6638.24, 6640, 6620, 6624.47]
                },
                {
                x: new Date('15 Jan 2021'),
                y: [6624.53, 6636.03, 6621.68, 6624.31]
                },
                {
                x: new Date('16 Jan 2021'),
                y: [6624.61, 6632.2, 6617, 6626.02]
                },
                {
                x: new Date('17 Jan 2021'),
                y: [6627, 6627.62, 6584.22, 6603.02]
                },
                {
                x: new Date('18 Jan 2021'),
                y: [6605, 6608.03, 6598.95, 6604.01]
                },
                {
                x: new Date('19 Jan 2021'),
                y: [6604.5, 6614.4, 6602.26, 6608.02]
                },
                {
                x: new Date('20 Jan 2021'),
                y: [6608.02, 6610.68, 6601.99, 6608.91]
                },
                {
                x: new Date('21 Jan 2021'),
                y: [6608.91, 6618.99, 6608.01, 6612]
                },
                {
                x: new Date('22 Jan 2021'),
                y: [6612, 6615.13, 6605.09, 6612]
                },
                {
                x: new Date('23 Jan 2021'),
                y: [6612, 6624.12, 6608.43, 6622.95]
                },
                {
                x: new Date('24 Jan 2021'),
                y: [6623.91, 6623.91, 6615, 6615.67]
                },
                {
                x: new Date('25 Jan 2021'),
                y: [6618.69, 6618.74, 6610, 6610.4]
                },
                {
                x: new Date('26 Jan 2021'),
                y: [6611, 6622.78, 6610.4, 6614.9]
                },
                {
                x: new Date('27 Jan 2021'),
                y: [6614.9, 6626.2, 6613.33, 6623.45]
                },
                {
                x: new Date('28 Jan 2021'),
                y: [6623.48, 6627, 6618.38, 6620.35]
                },
                {
                x: new Date('29 Jan 2021'),
                y: [6619.43, 6620.35, 6610.05, 6615.53]
                },
                {
                x: new Date('30 Jan 2021'),
                y: [6615.53, 6617.93, 6610, 6615.19]
                },
                {
                x: new Date('31 Jan 2021'),
                y: [6615.19, 6621.6, 6608.2, 6620]
                },
                {
                x: new Date('1 Feb 2021'),
                y: [6619.54, 6625.17, 6614.15, 6620]
                },
                {
                x: new Date('2 Feb 2021'),
                y: [6620.33, 6634.15, 6617.24, 6624.61]
                },
                {
                x: new Date('3 Feb 2021'),
                y: [6625.95, 6626, 6611.66, 6617.58]
                },
                {
                x: new Date('4 Feb 2021'),
                y: [6619, 6625.97, 6595.27, 6598.86]
                },
                {
                x: new Date('5 Feb 2021'),
                y: [6598.86, 6598.88, 6570, 6587.16]
                },
                {
                x: new Date('6 Feb 2021'),
                y: [6588.86, 6600, 6580, 6593.4]
                },
                {
                x: new Date('7 Feb 2021'),
                y: [6593.99, 6598.89, 6585, 6587.81]
                },

            ]

            var optionsCandle = {
                series: [{
                data: seriesData
                }],
                chart: {
                    redrawOnParentResize: false,
                        redrawOnWindowResize: false,
                    type: 'candlestick',
                    height: 360,
                    id: 'candles',

                    toolbar: {
                        autoSelected: 'pan',
                        show: false
                    },
                    zoom: {
                        enabled: false
                    },
            },

            plotOptions: {
                candlestick: {
                    colors: {
                        upward: '#00b746',
                        downward: '#ef403c'
                    }
                }
            },

            xaxis: {
                type: 'datetime',
                labels:{
                    show: false
                }
            },

                responsive: [{
                    breakpoint: 768,
                    options: {
                        chart:{
                            height: 250
                        }
                    },
                }],
            };

            var chartCandle = new ApexCharts(document.querySelector(".chart-candlestick"), optionsCandle);
            chartCandle.render();

            var optionsBar = {
                series: [{
                name: 'volume',
                data: seriesData
            }],
                chart: {
                    height: 130,
                    type: 'area',
                    toolbar: {
                        autoSelected: 'selection',
                    },
                brush: {
                    enabled: true,
                    target: 'candles',
                        autoScaleYaxis: false
                },
                selection: {
                    enabled: true,
                    xaxis: {
                        min: new Date('13 Jan 2021').getTime(),
                        max: new Date('20 Jan 2021').getTime()
                    },
                    fill: {
                        color: '#d8e5ff',
                        opacity: 0.4
                    },
                    stroke: {
                        color: '#0D47A1',
                    }
                },
                },
                dataLabels: {
                    enabled: false
                },
                grid:{
                    show: false,
                    xaxis: {
                        lines: {
                            show: false
                        }
                    },   
                    yaxis: {
                        lines: {
                            show: false
                        }
                    }, 
                    padding: {
                        top: 0,
                        right: 0,
                        bottom: 0,
                        left: 0
                    },  
                },
                colors:['#cfd6e4'],
                fill: {
                type: 'gradient',
                gradient: {
                    opacityFrom: 1,
                    opacityTo: 1,
                }
                },
                xaxis: {
                    type: 'datetime',
                },
                yaxis: {
                    labels: {
                        show: false
                    },
                }
            };

            var chartBar = new ApexCharts(document.querySelector(".chart-bar"), optionsBar);
            chartBar.render();

        });

