extends ../layout/main

block variables
  - var title = 'Exchanges';
  - var description = '';
  - var pageName = 'exchanges';


block content
  +b.ARTICLE

    +b.SECTION
      .container
        +b.breadcrumbs 
          a(href="#") Home 
          span / 
          span Exchanges

    +b.SECTION
      .container
        +b.H3.title(class="_strong") Exchanges
        +b.typography
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.


    mixin tr2(index)
        tr 
            td #{index}
            td 
                if index === '2'
                    +b.currency
                        +e.icon 
                            img(src="assets/images/currency/snx.svg", alt="")
                        +e.P.name Huobi Global
                else if index === '4'
                    +b.currency
                        +e.icon 
                            img(src="assets/images/currency/cpnd.svg", alt="")
                        +e.P.name Huobi Global
                else 
                    +b.currency
                        +e.icon 
                            img(src="assets/images/currency/btc.svg", alt="")
                        +e.P.name Binance
            td 
                strong ETH/USD
            td 
                strong $2,332.00
            td $6,391,773.09
            td $646,879,798,387
            td $20,512,439,991
            td 1,23%
            td
                if index === '2'
                    +b.status-label(class="_danger") Low
                else 
                    +b.status-label(class="_success") Hight
            td 867
            td Recently

    +b.SECTION
      .container
        +b.table-wrapper.table-filter-hidden
            +e.block
                +e.block-content
                    +b.H3.title Ethereum Markets

                +e.table
                    table.table-hover.js-datatables
                        thead 
                            tr 
                                th #
                                th Name
                                th Pairs
                                th Price
                                th +2% Depth 
                                th -2% Depth
                                th Volume
                                th Volume %
                                th Confidence
                                th Liquidity
                                th Liquidity scores
                        tbody 
                            +tr2('1')
                            +tr2('2')
                            +tr2('3')
                            +tr2('4')
                            +tr2('5')
                            +tr2('6')
                            +tr2('1')
                            +tr2('2')
                            +tr2('3')
                            +tr2('4')
                            +tr2('5')
                            +tr2('6')
                            +tr2('1')
                            +tr2('2')
                            +tr2('3')
                            +tr2('4')
                            +tr2('5')
                            +tr2('6')
    +b.SECTION
      .container
        +b.typography
          h4 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rho

block script
  script(src="assets/js/vendors.js")
  script(src="assets/js/app.js")
  script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
  script(src="https://cdn.jsdelivr.net/npm/apexcharts")
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
  script(type="text/javascript").
    
    $(document).ready( function () {
        // Datatables
        $('.js-datatables').DataTable({
          "searching": false
        });

        // Styles table
        $('.js-datatables').each( function(){
            var $wrapper = $(this).parents('.table-wrapper');
            // filter
            var $filter = $wrapper.find('.table-wrapper__filter');
            $filter.append($wrapper.find('.dataTables_length'))
            $filter.append($wrapper.find('.dataTables_filter'))

            // pagination
            $wrapper.append('<div class="table-wrapper__footer"></div>')
            var $footer = $wrapper.find('.table-wrapper__footer');
            $footer.append($wrapper.find('.dataTables_info'))
            $footer.append($wrapper.find('.dataTables_paginate'))

            let cloned = $('.dataTables_length').clone(true);
            $wrapper.find('.table-wrapper__footer').append(cloned)

        })


    });