extends ../layout/auth

block variables
  - var title = 'Forgot at Coin Review';
  - var description = 'Forgot at Coin Review';
  - var pageName = 'forgot';


block content

  .container
    +b.FORM.auth-form
      +e.row
        +e.content
          +e.H1.title Forgot <span class="color-primary">Password</span>
          +e.description
            p Login your account at CoinReview to unlock new features.
    
          +e.form
            form

              +b.field
                label Email
                input(type="text" value="" name="email")

              +b.field
                label Capcha
                +b.captcha
                  input(type="text" value="" name="capcha")
                  img(src="assets/images/captcha.png", alt="")

              +e.bottom
                +b.BUTTON(class="button _primary _shadow") Forgot password

            +e.links
              a(href="login.html") Login
              a(href="register.html") Registration

        +e.media
          img(src="assets/images/login.svg", alt="")
block script
  script(src="assets/js/vendors.js" defer)
  script(src="assets/js/app.js" defer)
