extends ../layout/main

block variables
  - var title = 'Главная';
  - var description = '';
  - var pageName = 'home';


block content
  +b.ARTICLE
    
    include ../includes/partials/_nav

    +b.SECTION
      .container
        +b.top-block
          +e.col
            +b.H1.title Top Cryptocurrency Today by Coin<span class="color-primary">Review</span>
            +b.H4.subtitle Crypto market cap is <strong class="color-success">$1.43T</strong>, <strong>2.07</strong><sup>%</sup> increase today
          +e.col
            .swiper-container.swiper-no-swiping.js-swiper-news
              .swiper-wrapper 

                .swiper-slide 
                  +b.A(href="#").news-item 
                    +e.image
                      img(src="assets/images/news/1.png", alt="")
                    +e.content
                      +e.P.label News of day
                      +e.P.name July 23: Jack Dorsey Is Bullish on BTC
                
                .swiper-slide 
                  +b.A(href="#").news-item 
                    +e.image
                      img(src="assets/images/news/2.png", alt="")
                    +e.content
                      +e.P.label News of day
                      +e.P.name July 23: Jack Dorsey Is Bullish on BTC
                
                .swiper-slide 
                  +b.A(href="#").news-item 
                    +e.image
                      img(src="assets/images/news/3.png", alt="")
                    +e.content
                      +e.P.label News of day
                      +e.P.name July 23: Jack Dorsey Is Bullish on BTC
                
                .swiper-slide 
                  +b.A.news-item(href="#" class="_primary")
                    +e.image
                      img(src="assets/images/news/4.png", alt="")
                    +e.content
                      +e.P.label News of day
                      +e.P.name July 23: Jack Dorsey Is Bullish on BTC

    +b.SECTION.search-section
      .container
        +b.search-module 
          form
            +e.top
              +e.P.title Search by name 
              +b.UL.labels 
                +e.LI
                  +b.LABEL.search-label 
                    input(type="radio" name="search-label" value="1" checked)
                    span Time since launch
                +e.LI
                  +b.LABEL.search-label 
                    input(type="radio" name="search-label" value="2")
                    span Launching today
                +e.LI
                  +b.LABEL.search-label 
                    input(type="radio" name="search-label" value="3")
                    span Launched today
                +e.LI
                  +b.LABEL.search-label 
                    input(type="radio" name="search-label" value="4")
                    span Launch in 1 day
                +e.LI
                  +b.LABEL.search-label 
                    input(type="radio" name="search-label" value="5")
                    span 11 days
                +e.LI
                  +b.LABEL.search-label 
                    input(type="radio" name="search-label" value="6")
                    span 1 day
                +e.LI
                  +b.LABEL.search-label 
                    input(type="radio" name="search-label" value="7")
                    span 2 days
            +e.field 
              input(type="text" name="Enter currency name" placeholder="Enter currency name")
              button 
                +icon('search')
    +b.SECTION.counters-section
      .container

        .swiper-container.swiper-no-swiping.js-swiper-counters
          .swiper-wrapper 
            .swiper-slide 
              +b.counters-item
                +e.top
                  p Market Capitalization
                  +b.label(class="_success") 1.2<sup>%</sup>
                +e.P.value <span>$</span> 1,448,742,239,530
            .swiper-slide 
              +b.counters-item
                +e.top
                  p 24h Trading Volume
                  +b.label(class="_danger") 0.3<sup>%</sup>
                +e.P.value <span>$</span> 90,409,965,514
            .swiper-slide 
              +b.counters-item
                +e.top
                  p Bitcoin Market Cap Dominance
                +e.P.value <span>44.63%</span>
            .swiper-slide 
              +b.counters-item
                +e.top
                  p # of Coins
                +e.P.value <span>8,626</span>

    mixin tr(index,currency, color)
      tr 
        td #{index}
        td
          if currency === 'btc'
            +b.currency
              +e.icon 
                img(src="assets/images/currency/btc.svg", alt="")
              +e.P.name Bitcoin <span>BTC</span>
          else if currency === 'eth'
            +b.currency
              +e.icon 
                img(src="assets/images/currency/eth.svg", alt="")
              +e.P.name Etherium <span>ETH</span>
          else if currency === 'dai'
            +b.currency
              +e.icon 
                img(src="assets/images/currency/dai.svg", alt="")
              +e.P.name Dai <span>DAI</span>
          else if currency === 'tether'
            +b.currency
              +e.icon 
                img(src="assets/images/currency/tether.svg", alt="")
              +e.P.name Tether <span>Tether</span>
      
        td.nowrap
          p 
            strong $34,394.55
        td.nowrap
          if currency === 'eth'
            p.color-success
              strong 1.36%
          else
            p.color-danger
              strong 0.23%
        td.nowrap
          p.color-success
            strong 7.86%
        td.nowrap
          p $646,879,798,387
        td.nowrap
          p $20,512,439,991
          p 
            small 595,070 BTC
        td.nowrap
          p 18,766,106 BTC
        td
          if currency === 'eth'
            .chart(data-array="10,41,35,51,49,62,69,91,148,10,41,35,51,49", data-color=color)
          else 
            .chart(data-array="50,62,79,91,148,41,35,51,49,62,69,91,148,10", data-color=color)
        td
          +b.amount-module 
            .decrease.value-button(value='Decrease Value') -
            input.number(type='number' value='0' name="amount")
            .increase.value-button(value='Increase Value') +
    +b.SECTION
      .container
        +b.H3.title Promoted

        +b.table-wrapper
          +e.block(class="_border")
            +e.table
              table.table-hover 
                thead 
                  tr 
                    th # 
                    th Name
                    th Price
                    th 24h %
                    th 7d %
                    th Market Cap
                    th Volume(24h)
                    th Circulating Supply
                    th Last 7 Days
                    th Votes
                tbody 
                  +tr('1','btc','#03b15d')
                  +tr('2','eth','#03b15d')
                  +tr('3','dai','#d22f49')
                  +tr('4','tether','#03b15d')
                  +tr('5','btc','#d22f49')
    
    +b.SECTION
      .container
        +b.H3.title All Cryptocurrencyes

        +b.table-wrapper
          +e.filter
            +b.UL.labels 
                +e.LI
                  +b.LABEL.search-label 
                    input(type="radio" name="table-label" value="1" checked)
                    span Time since launch
                +e.LI
                  +b.LABEL.search-label 
                    input(type="radio" name="table-label" value="2")
                    span Launching today
                +e.LI
                  +b.LABEL.search-label 
                    input(type="radio" name="table-label" value="3")
                    span Launched today
                +e.LI
                  +b.LABEL.search-label 
                    input(type="radio" name="table-label" value="4")
                    span Launch in 1 day
                +e.LI
                  +b.LABEL.search-label 
                    input(type="radio" name="table-label" value="5")
                    span 11 days
                +e.LI
                  +b.LABEL.search-label 
                    input(type="radio" name="table-label" value="6")
                    span 1 day
                +e.LI
                  +b.LABEL.search-label 
                    input(type="radio" name="table-label" value="7")
                    span 2 days
          +e.block
            +e.table
              table.table-hover.js-datatables
                thead 
                  tr 
                    th # 
                    th Name
                    th Price
                    th 24h %
                    th 7d %
                    th Market Cap
                    th Volume(24h)
                    th Circulating Supply
                    th Last 7 Days
                    th Votes
                tbody 
                  +tr('1','btc','#03b15d')
                  +tr('2','eth','#03b15d')
                  +tr('3','dai','#d22f49')
                  +tr('4','tether','#03b15d')
                  +tr('5','btc','#03b15d')
                  +tr('6','eth','#03b15d')
                  +tr('7','dai','#d22f49')
                  +tr('8','tether','#03b15d')
                  +tr('9','btc','#03b15d')
                  +tr('10','eth','#03b15d')
                  +tr('11','dai','#d22f49')
                  +tr('12','tether','#03b15d')

    +b.SECTION.banners
      .container
        +e.row
          +e.col
              +b.banner-item(style="background-image:url(assets/images/banners/1.png)" class="_border")
                +e.content
                  +e.H3.title Your Coin Missing?
                  +e.description
                    p Can't find your coin? List your favorite coin now! Get your community to vote for your coin and gain exposure.
                +e.buttons 
                  +b.A(href="#" class="button _primary") Submit coin
          +e.col
              +b.banner-item(style="background-image:url(assets/images/banners/2.png)")
                +e.content
                  +e.H3.title View New Listings
                  +e.description
                    p Click the button below to view the New Listings! These coins were just submitted.
                +e.buttons 
                  +b.A(href="#" class="button _primary") View New Listings


block script
  script(src="assets/js/vendors.js")
  script(src="assets/js/app.js")
  script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
  script(src="https://cdn.jsdelivr.net/npm/apexcharts")
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
  script(type="text/javascript").
    
    $(document).ready( function () {
        // Datatables
        $('.js-datatables').DataTable({
          "searching": false
        });

        // Styles table
        $('.js-datatables').each( function(){
          var $wrapper = $(this).parents('.table-wrapper');
          // filter
          var $filter = $wrapper.find('.table-wrapper__filter');
          $filter.append($wrapper.find('.dataTables_length'))
          $filter.append($wrapper.find('.dataTables_filter'))

          // pagination
          $wrapper.append('<div class="table-wrapper__footer"></div>')
          var $footer = $wrapper.find('.table-wrapper__footer');
          $footer.append($wrapper.find('.dataTables_info'))
          $footer.append($wrapper.find('.dataTables_paginate'))
        })


        // Charts for table
        document.querySelectorAll('.chart').forEach(function(el){
            var options = {
            series: [{
                name: "Desktops",
                data: el.dataset.array.split(',')
            }],
            chart: {
              height:90,
              animations:{
                enabled: false,
              },
              type: 'line',
              toolbar:{
                show: false
              },
              zoom: {
                enabled: false
              }
            },
            stroke: {
                show: true,
                curve: 'straight',
                colors: [el.dataset.color],
                width: 2,  
            },
            grid:{
              show: false,
              xaxis: {
                  lines: {
                      show: false
                  }
              },   
              yaxis: {
                  lines: {
                      show: false
                  }
              }, 
              padding: {
                top: 0,
                right: 0,
                bottom: 0,
                left: 0
              },  
            },

            legend: {
              show: false,
            },
            dataLabels: {
              enabled: false
            },
            yaxis: {
              show: false,
            },
            tooltip: {
              enabled: false
            },
            xaxis: {  
                axisBorder:{
                  show: false
              },
                axisTicks:{
                  show: false
              },
              labels:{
                show: false
              }
            },
        

          };

          var chart = new ApexCharts(el, options);
          chart.render();
        })
    });
    
