extends ../layout/auth

block variables
  - var title = 'Login at Coin Review';
  - var description = 'Login at Coin Review';
  - var pageName = 'login';


block content

  .container
    +b.FORM.auth-form
      +e.row
        +e.content
          +e.H1.title Login with <span class="color-primary">Telegram</span>
          +e.description
            p Login your account at CoinReview to unlock new features.
          +b.A(href="login.html" class="button _white") Login with password
          
          +e.form
            form

              +b.field(class="_error")
                label Telegram name
                +b.field-group
                    input(type="text" value="" name="name")
                    +b.A(class="button _primary _shadow") Send a code

              +b.field
                label Confirmation code
                input(type="text" value="" name="confirmation")

              +b.field
                label Capcha
                +b.captcha
                  input(type="text" value="" name="capcha")
                  img(src="assets/images/captcha.png", alt="")

              +e.bottom
                +b.BUTTON(class="button _primary _shadow") Login now

            +e.links
              a(href="forgot.html") Forgot your password?
              a(href="register.html") Registration

        +e.media
          img(src="assets/images/login-telegram.svg", alt="")
block script
  script(src="assets/js/vendors.js" defer)
  script(src="assets/js/app.js" defer)
