extends ../layout/main

block variables
  - var title = 'Promoted';
  - var description = '';
  - var pageName = 'promoted';
  - var pageType = 'profile';


block content
  mixin tr2(index)
    tr(data-href="coin.html") 
      td #{index}
      td 
        if index === '2'
          +b.A(href="coin.html" target="_blank").currency
            +e.icon 
              img(src="assets/images/currency/snx.svg", alt="")
            +e.P.name Huobi Global
        else if index === '4'
          +b.A(href="coin.html" target="_blank").currency
            +e.icon 
              img(src="assets/images/currency/cpnd.svg", alt="")
            +e.P.name Huobi Global
        else 
          +b.A(href="coin.html" target="_blank").currency
            +e.icon 
              img(src="assets/images/currency/btc.svg", alt="")
            +e.P.name Binance
      td 2 weeks (20% discount)
      td 11 days
      td 1
      td.nowrap
        strong $ <span class="color-primary">2,305.49</span>
      td 14.10.2022 15:22:33

  +b.ARTICLE

    +b.SECTION
      .container
        +b.breadcrumbs 
          a(href="profile-account.html") Account 
          span / 
          span Promoted

    +b.SECTION
      .container
        +b.H1.title(class="_strong") Promoted

        +b.promoted 
          +e.image 
            img(src="assets/images/promotion/table.png", alt="")
          +e.block
            +e.P.label Choose one of the 8 places
            +b.UL.radio-list(class="_small-spaces")
                +e.LI
                  +b.LABEL.radio-button(class="_transparent")
                    input(type="radio" name="slots" value="1" checked)
                    span 1
                +e.LI
                  +b.LABEL.radio-button(class="_transparent")
                    input(type="radio" name="slots" value="2")
                    span 2
                +e.LI(class=" is-disabled")
                  +b.LABEL.radio-button(class="_transparent")
                    input(type="radio" name="slots" value="3")
                    span 3
                +e.LI
                  +b.LABEL.radio-button(class="_transparent")
                    input(type="radio" name="slots" value="4")
                    span 4
                +e.LI
                  +b.LABEL.radio-button(class="_transparent")
                    input(type="radio" name="slots" value="5")
                    span 5
                +e.LI(class=" is-disabled")
                  +b.LABEL.radio-button(class="_transparent")
                    input(type="radio" name="slots" value="6")
                    span 6
                +e.LI(class=" is-disabled")
                  +b.LABEL.radio-button(class="_transparent")
                    input(type="radio" name="slots" value="7")
                    span 7
                +e.LI(class=" is-disabled")
                  +b.LABEL.radio-button(class="_transparent")
                    input(type="radio" name="slots" value="7")
                    span 7

    +b.SECTION
      .container
        +b.H2.title(class="_strong") Add promotion
        +b.block 
          +b.typography
            p We only accept PerfectMoney. Maximum file size maust not exceed 3.5MB. Banners with your referral link are allowed. No non-paying or phishing site banners will be displayed. Send all ad questions to advertising@hyiplogs.com.
          form
            +b.field 
              label You have selected:
              input(type="text" name="selected")

            +b.field 
              label Period:
              +b.UL.radio-list 
                +e.LI
                  +b.LABEL.radio-button
                    input(type="radio" name="period" value="1" checked)
                    span 1 week
                +e.LI
                  +b.LABEL.radio-button
                    input(type="radio" name="period" value="2")
                    span 2 weeks (2% discount)
                +e.LI
                  +b.LABEL.radio-button
                    input(type="radio" name="period" value="3")
                    span 3 weeks (3% discount)
                +e.LI
                  +b.LABEL.radio-button
                    input(type="radio" name="period" value="4")
                    span 4 weeks (4% discount)

            +b.field 
              label Currency: 
              input(type="text" name="currency")

            +b.field 
              label Promo Code: 
              input(type="text" name="promocode")

            +b.field 
              label Total cost: 
              +b.P.total $ <span class="color-primary">2,305.49</span> 
            +b.BUTTON.button(class="_primary") Buy promotion
    +b.SECTION
      .container
        +b.H3.title(class="_strong") All promotions

        +b.table-wrapper.hidden-filters
          +e.block
            +e.table
              table.table-hover.js-datatables 
                thead 
                  tr 
                    th #
                    th Name
                    th Terms
                    th Time left
                    th Number of place
                    th Total cost
                    th Date
                tbody 

                  +tr2('1')
                  +tr2('2')
                  +tr2('3')
                  +tr2('4')
                  +tr2('5')
                  +tr2('6')



block script
  script(src="assets/js/vendors.js" defer)
  script(src="assets/js/app.js" defer)
  script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
  script(type="text/javascript").
    $(document).ready( function () {
      // Datatables
      var table = $('.js-datatables').DataTable({
        "searching": false
      });

      // Styles table
      $('.js-datatables').each( function(){
        var $wrapper = $(this).parents('.table-wrapper');
        // filter
        var $filter = $wrapper.find('.table-wrapper__filter');
        $filter.append($wrapper.find('.dataTables_length'))
        $filter.append($wrapper.find('.dataTables_filter'))

        // pagination
        $wrapper.append('<div class="table-wrapper__footer"></div>')
        var $footer = $wrapper.find('.table-wrapper__footer');
        $footer.append($wrapper.find('.dataTables_info'))
        $footer.append($wrapper.find('.dataTables_paginate'))
      })
    });