extends ../layout/auth

block variables
  - var title = 'Register at Coin Review';
  - var description = 'Register at Coin Review';
  - var pageName = 'login';


block content

  .container
    +b.FORM.auth-form(class="_register")
      +e.row
        +e.content
          +e.H1.title.nowrap-desktop Register at Coin<span class="color-primary">Review ad admin</span>
          +e.description
            p Create your account at CoinReview to unlock new features.
          +e.buttons
            +b.A(href="login.html" class="button _white") Register with Telegram
            +b.A(href="register.html" class="button _white") Register as user

          +e.form
            form
                +b.field
                    label Coin name
                    input(type="text" value="" name="coin_name")

                .row 
                  .col-6
                    +b.field
                      label Name
                      input(type="text" value="" name="name")
                  .col-6
                    +b.field
                      label Email
                      input(type="text" value="" name="email")

                +b.field
                    label Password
                    input(type="password" value="" name="password")

                +b.field
                    label Confirm Password
                    input(type="password" value="" name="confirm_password")

                +b.field
                    label Telegram support (optional)
                    input(type="text" value="" name="telegram")

                +b.field
                    +b.LABEL.checkbox 
                        input(type="checkbox" name="agree")
                        span 
                          strong Sign up for newsletter (no spam) 
                +e.bottom
                    +b.BUTTON(class="button _primary _shadow") Register now

            //- +e.links
            //-   a(href="forgot.html") Forgot your password?
            //-   a(href="registration.html") Registration

        +e.media
          img(src="assets/images/register.png", alt="")
block script
  script(src="assets/js/vendors.js" defer)
  script(src="assets/js/app.js" defer)
