extends ../layout/main

block variables
  - var title = 'Reviews';
  - var description = '';
  - var pageName = 'reviews';


block content
  +b.ARTICLE

    +b.SECTION
      .container
        +b.breadcrumbs 
          a(href="#") Coins 
          span / 
          span Reviews

    +b.SECTION
      .container
        +b.H3.title(class="_strong") Reviews

        mixin news-block()
            +b.A(href="#" class="news-block")
                +e.content
                    +e.P.title Crypto Analyst Says Ethereum Following Cardano, Maps Potential Reversal Against Bitcoin
                    +e.P.date about 19 hours ago
                    +e.description
                        p A top trader is mapping out Ethereum’s path ahead, predicting that the asset will follow in Cardano’s footsteps. In a series of tweets, pseudonymous crypto trader Capo notes that Cardano (ADA) recently retraced against Bitcoin (BTC), indicating that a similar move could be in store for Ethereum
                    +e.link Read more
                +e.image
                    img(src="assets/images/news/lg.png", alt="")
        +news-block()
        +news-block()
        +news-block()
        +news-block()
        +news-block()
        +news-block()
        +news-block()
        +news-block()

        +b.pagination-module 
          +e.wrap
            a(href="#" class="is-active") 1
            a(href="#") 2
            a(href="#") 3
            a(href="#") 4
            a(href="#") 5
            a(href="#") 6
            span.dotts ...
            a(href="#") 100

block script
  script(src="assets/js/vendors.js")
  script(src="assets/js/app.js")