// Bot is not active
#bot-not-active(class="modal-window modal-window_size-md")
  +b.swap-confirm

    +b.H3.modal-title.modal-padding Telegram Bot is not active.<br> Activate Bot first. 

    form

      +b.modal-buttons
        +b.BUTTON(class="button _primary") Activate bot

          