// Not auth
#not-auth(class="modal-window modal-window_size-md")
  +b.swap-confirm

    +b.H3.modal-title.modal-padding You are not authorisated.<br> Autorise first.

    +b.modal-buttons
      +b.A(href="login.html" class="button _primary") Login now

          