// Swap select
#swap-select(class="modal-window modal-window_size-md")
  +b.swap-select

    +b.H3.modal-title.modal-padding Select a Token

    +b.modal-search 
      input(type="text" name="search" placeholder="Search name or paste address").js-search-token

    +b.tokens-list.scrollbar-inner
      +e.wrapper
      
      //- +b.token-item 
      //-   +e.icon
      //-     img(src="assets/images/currency/eth.svg", alt="")
      //-   +e.content 
      //-     +e.P.title ETH 
      //-     +e.P.description ETH 
      //-   +e.price 0.4141
    
        

        

          