include ../bemto-master/bemto.pug

include ../utils/mixins

block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    title Coin Review - #{title}
    meta(name="description", content=description)
    link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
    link(rel="stylesheet" href="assets/css/common.css")
    link(rel="stylesheet" href="assets/css/app.css")
    block head

  body
    include ../includes/partials/_loader
    
    // Main layout
    +b.MAIN#app.main-layout

      include ../includes/_header
      // Begin page
      block content
      // End page
      include ../includes/_footer

    include ../includes/partials/_mobile-menu

    block script