include ../bemto-master/bemto.pug

include ../utils/mixins

block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    title Coin Review - #{title}
    meta(name="description", content=description)
    link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
    link(rel="stylesheet" href="assets/css/common.css")
    link(rel="stylesheet" href="assets/css/app.css")
    block head

  body
    include ../includes/partials/_loader
    
    // Main layout
    +b.MAIN#app.main-layout
      if pageName === 'banners'
        +e.A(href="#" target="_blank").top-banner
          picture
            source(srcset="assets/images/banners/banner-top-768.png" media="(max-width: 768px)")
            source(srcset="assets/images/banners/banner-top.png")
            img(src="assets/images/banners/banner-top.png", alt="")
      +e.row
        +e.bar
          div.js-sticky-sidebar
            +e.menu-button
              include ../includes/partials/_hamburger
            ul
              li
                a(href="account.html")
                  +icon('004-account')
                  span Account
              li
                a(href="add-banner.html")
                  +icon('003-clicking')
                  span Add banner
              li
                a(href="exchanges.html")
                  +icon('005-atm')
                  span Exchanges
              li
                a(href="currencies.html")
                  +icon('001-wallet')
                  span Currencies
              li
                a(href="history.html")
                  +icon('006-history')
                  span History
        +e.content
          include ../includes/_header
          // Begin page
          block content
      +e.row
        // End page
        include ../includes/_footer

    include ../includes/partials/_mobile-menu

    block script