include ../bemto-master/bemto.pug

include ../utils/mixins

block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    title Coin Review - #{title}
    meta(name="description", content=description)
    link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
    link(rel="stylesheet" href="assets/css/common.css")
    link(rel="stylesheet" href="assets/css/app.css")
    block head

  body(data-broadcaster="broadcaster" data-host="https://sockets.coinreview.cyou:443")
    include ../includes/partials/_loader
    
    // Main layout
    +b.MAIN#app.main-layout
      if pageName === 'banners'
        +e.A(href="#" target="_blank").top-banner
          picture
            source(srcset="assets/images/banners/banner-top-768.png" media="(max-width: 768px)")
            source(srcset="assets/images/banners/banner-top.png")
            img(src="assets/images/banners/banner-top.png", alt="")
      +e.row
        +e.bar
          div.js-sticky-sidebar
            +e.menu-button
              include ../includes/partials/_hamburger

            include ../includes/partials/_nav

        +e.content
          include ../includes/_header
          // Begin page
          block content
      +e.row
        // End page
        include ../includes/_footer

    include ../includes/partials/_mobile-menu

    // Telegram bot

    +b.A(href="#").telegram-bot-banner 
      +e.content
        p Join our 
        p 
          strong.color-primary Telegram bot


    // Modals
    include ../includes/modals/swap-confirm
    include ../includes/modals/swap-select
    include ../includes/modals/settings
    include ../includes/modals/bot-not-active
    include ../includes/modals/not-auth
    include ../includes/modals/remind-me

    block script