
if pageType != 'profile'
  +b.UL.counters
    +e.LI
      +e.icon
        +icon('002-coins-stack')
      p Cryptos: <strong>11 050</strong>

    +e.LI
      +e.icon
        +icon('001-double-arrow')
      p Exchanges: <strong>390</strong>

    +e.LI
      +e.icon
        +icon('003-wallet')
      p Market Cap: <strong>$1,411,300,380,446</strong>
else 
  +b.UL.counters
    +e.LI
      +e.icon
        +icon('user-strong')
      p User: <strong>Username</strong>

    +e.LI
      +e.icon
        +icon('wallet-strong')
      p Coins: <strong>ETH, BTC, DOGE, LTC</strong>

    +e.LI
      +e.icon
        +icon('002-coins-stack')
      p Admin: <strong>UFS, USS</strong>