+b.language-module.js-dropdown
  +e.link
    img(src="assets/images/country/united-kingdom.svg", alt="")
    span Eng

  +e.UL.dropdown
    +e.LI
      +e.A(href="#") 
        img(src="assets/images/country/poland.svg", alt="")
        span Poland
 
    +e.LI
      +e.A(href="#") 
        img(src="assets/images/country/russia.svg", alt="")
        span Russia

    +e.LI
      +e.A(href="#") 
        img(src="assets/images/country/ua.svg", alt="")
        span Український
 
    +e.LI
      +e.A(href="#") 
        img(src="assets/images/country/spain.svg", alt="")
        span Spanish