+b.mobile-menu 
    +e.content

      +b.search-block
        form
          input(type="text" name="search" placeholder="Search...")
          +e.A(href="#" class="button")
            +icon('search') 

    
    +e.NAV.navigation
      ul
        li(class=( pageName === "home" ? " is-active" : undefined))
          a(href="index.html")
            +icon('004-account')
            span Account
        li(class=( pageName === "register" ? " is-active" : undefined))
          a(href="register.html")
            +icon('key')
            span Registration
        li(class=( pageName === "banner" ? " is-active" : undefined))
          a(href="add-banner.html")
            +icon('003-clicking')
            span Add banner
        li(class=( pageName === "exchanges" ? " is-active" : undefined))
          a(href="exchanges.html")
            +icon('005-atm')
            span Exchanges
        li(class=( pageName === "currencies" ? " is-active" : undefined))
          a(href="currencies.html")
            +icon('001-wallet')
            span Currencies
        li(class=( pageName === "history" ? " is-active" : undefined))
          a(href="history.html")
            +icon('006-history')
            span History

    +e.content

      include _counters

      +b.A.button(href="add-currency.html" class="_primary") Add a currency

      include _lang