+b.mobile-menu 
    +e.content

      +b.search-block
        form
          input(type="text" name="search" placeholder="Search...")
          +e.A(href="#" class="button")
            +icon('search') 

    
    +e.NAV.navigation
      include _nav

    +e.content

      include _counters

      +b.A.button(href="add-currency.html" class="_primary") Add a currency

      include _lang