ul
  li(class=( pageName === "home" ? " is-active" : undefined))
    a(href="index.html") Главная
  li(class=( pageName === "about" ? " is-active" : undefined))
    a(href="page-about.html") О нас
  li(class=( pageName === "road-map" ? " is-active" : undefined))
    a(href="page-road-map.html") Дорожная карта
  li(class=( pageName === "investors" ? " is-active" : undefined))
    a(href="page-investors.html") Инвесторам
  li(class=( pageName === "partners" ? " is-active" : undefined))
    a(href="page-partners.html") Партнерам
  li(class=( pageName === "bounty" ? " is-active" : undefined))
    a(href="page-bounty.html") Баунти