+b.UL.social 
  +e.LI
    +e.A(href="#" target="_blank")
      +icon('004-telegram')
  +e.LI
    +e.A(href="#" target="_blank")
      +icon('001-vk')
  +e.LI
    +e.A(href="#" target="_blank")
      +icon('003-facebook')
  +e.LI
    +e.A(href="#" target="_blank")
      +icon('005-youtube')
  +e.LI
    +e.A(href="#" target="_blank")
      +icon('002-twitter')
  +e.LI
    +e.A(href="#" target="_blank")
      +icon('006-instagram')