+b.SECTION.podmenu
  .container
    ul
      li(class=( pageName === "about" ? " is-active" : undefined))
        a(href="page-about.html") О компании
      li(class=( pageName === "leaders" ? " is-active" : undefined))
        a(href="page-leaders.html") Руководство
      li(class=( pageName === "plans" ? " is-active" : undefined))
        a(href="page-plans.html") Правила и тарифы
      li(class=( pageName === "disclosure" ? " is-active" : undefined))
        a(href="page-disclosure.html") Раскрытие информации
      //- li(class=( pageName === "personal" ? " is-active" : undefined))
      //-   a(href="page-personal.html") Персональные данные 
      //- li(class=( pageName === "registry" ? " is-active" : undefined))
      //-   a(href="page-registry.html") Реестр страховых агентов
      //- li(class=( pageName === "standart" ? " is-active" : undefined))
      //-   a(href="page-standart.html") Базовые стандарты
      li(class=( pageName === "requisites" ? " is-active" : undefined))
        a(href="page-requisites.html") Реквизиты
      li(class=( pageName === "vacancies" ? " is-active" : undefined))
        a(href="page-vacancies.html") Вакансии